<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs', {title: 'Bird Details | NestQuest' }) %>
        <title>NestQuest | Bird Details</title>
        <link rel="stylesheet" href="/public/nav.css">
        <%- include('./partials/nav.ejs') %>

</head>

<body>
    <main>
        <h1>Details</h1>
        <%= region.birds.length %> birds are in this area
            </h1>
            <div class="birds-container">
                <h2>Bird Information</h2>
                <ul>
                    <% birdData.forEach(function(bird) { %>
                        <li>Name: <%= bird.comName %>
                        </li>
                        <li>Scientific Name: <%= bird.sciName %>
                        </li>
                        <li>Family: <%= bird.familyComName %>
                        </li>
                        <% }); %>
                </ul>
            </div>
            </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>