<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Regions' }) %>
        <link rel="stylesheet" href="/public/nav.css">
        <%- include('./partials/nav.ejs') %>

</head>

<body>
    <h1>Regions</h1>
    <main>
        <section class="nestQuest-regions">
            <!--for each us region -->
            <% regions.forEach(function(region) { %>
                <div class="bird-card">
                    <a href="/regions/<%=region.code%>" class="region card">
                        <ul>
                            <li><strong>Region:</strong>
                                <%= region.code %><br>
                                    <%= region.name %>
                            </li>
                            <li>
                                <strong>Birds: <%= region.birds.length %></strong>

                            </li>
                        </ul>
                    </a>
                </div>
                <% }); %>
        </section>
    </main>
    <script src="/public/js/nav.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>