<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Regions' }) %>
        <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>Regions</h1>
        <main>
            <section class="nestQuest-regions">
                <!--for each us region -->
                <% regions.forEach(function(region) { %>
                    <div class="region card">
                        <ul>
                            <li><strong>Region:</strong>
                                <%= region.name %><br> - <%= region.description %>
                            </li>
                            <li>
                                <strong>Birds:</strong>
                                <ul>
                                    <% region.birds.forEach(function(bird) { %>
                                        <li><a href="/bird-details/<%= bird._id %>">View Bird</a></li>
                                        <% }); %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <% }); %>

            </section>
        </main>
</body>

</html>