<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Regions' }) %>
        <link rel="stylesheet" href="/public/main.css">
        <%- include('./partials/nav.ejs') %>
            <script src="/public/js/nav.js"></script>
</head>

<body>
    <h1>Regions</h1>
    <main>
        <section class="nestQuest-regions">
            <!--for each us region -->
            <% regions.forEach(function(region) { %>
                <a href="/regions/<%=region.code%>" class="region card">
                    <ul>
                        <li><strong>Region:</strong>
                            <%= region.code %><br>
                                <%= region.name %>
                        </li>
                        <li>
                            <strong>Birds: <%= region.birds.length %></strong>

                        </li>
                    </ul>
                </a>
                <% }); %>

        </section>
    </main>
</body>

</html>