<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs", {title: "NestQuest | User Sightings" }) %>
        <link rel="stylesheet" href="/public/user-profile.css" />
        <link rel="stylesheet" href="/public/nav.css" />
        <%- include("./partials/nav.ejs") %>
</head>

<body>
    <main>
        <div class="user-nest-container">

            <div class="profile-info">
                <div>
                    <h3>
                        <%= user._id %>
                    </h3>
                    <img src="<%= user.profilePic || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfZCGFDrC8YeednlJC3mhxPfg_s4Pg8u7-kf6dy88&s'%>"
                        alt="profile pic" />
                </div>

                <div>
                    <p>Welcome to your Nest</p>
                    <!-- <a href="/edit-user">Edit Profile</a> -->
                </div>
            </div>

            <section class="user-sightings">

                <div class="user-label-box">
                    <!-- User Sighting Details -->
                    <h3>User Sightings: <%= sightings.length %>
                    </h3>
                    <!-- For Each Sighting -->

                    <div class="gallery">
                        <% sightings.forEach(function(sighting) { %>
                            <div class="sightings-card">
                                <!-- sighting info -->
                                <p>
                                    <%= user._id %> saw a <%= sighting.bird.comName %> in <%= sighting.region.name %>
                                </p>
                                <img src="<%= sighting.picture || '/public/assets/imgs/bunting.png' %>"
                                    alt="<%= sighting.bird.comName %>" class="img-thumbnail"
                                    style="width: 200px; height: 150px;" />
                                <p>
                                    <%= sighting.description %>
                                </p>
                                <div class="button-box">
                                    <!-- View Sighting Button -->
                                    <div class="sighting-action">
                                        <a href="/sightings/<%= sighting._id %>">View</a>
                                    </div>

                                    <!-- Edit Sighting Button -->
                                    <div class="sighting-action">
                                        <a href="/sightings/<%= sighting._id %>/edit">Edit</a>
                                    </div>

                                    <!-- Delete Sighting Button -->
                                    <form action="/sightings/<%= sighting._id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="sighting-action">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                    </div>

                </div>

            </section>
        </div>
    </main>
    <script src="/public/js/nav.js"></script>
    <%- include("./partials/footer.ejs") %>
</body>

</html>