<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit Sighting | NestQuest' }) %>
        <link rel="stylesheet" href="/public/nav.css">
        <link rel="stylesheet" href="/public/form.css">
        <%- include('../partials/nav.ejs') %>

</head>

<body>
    <div class="page-container">
        <section class="form-head">
            <h1>Edit Sighting</h1>
            <h2>You're editing a sighting for <%= sighting.bird.comName%>
            </h2>
        </section>
        <section class="form-body">
            <div class="form-container">
                <form method="POST" action="/sightings/<%= sighting._id%>?_method=PUT">

                    <!-- Details -->
                    <div class="label-group">
                        <label for="description">Add or Change Details:</label>
                        <textarea class="form-items" type="text" id="description" name="description"
                            required></textarea>
                    </div>
                    <!-- Bird Pic input -->
                    <div class="label-group">
                        <label for="profile-pic" class="form-label">Picture Url:</label>
                        <input type="text" id="profile-pic" name="picture" class="form-input form-items">
                    </div>
                    <input class="submit-button" type="submit" value="Submit">

                </form>
                </form>
            </div>
        </section>
        <script src="/public/js/nav.js"></script>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>

</html>