<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'New Sighting | NestQuest' }) %>
        <link rel="stylesheet" href="/public/nav.css">
        <link rel="stylesheet" href="/public/form.css">
        <%- include('../partials/nav.ejs') %>

</head>

<body>

    <section class="form-head">
        <h2>New Sighting!</h2>
        <h1>You're creating a sighting for <%= bird.comName %>
        </h1>
    </section>
    <div class="form-container">
        <form method="POST" action="/sightings">
            <!-- might need to change link -->
            <!-- Region -->
            <label for="sightingRegion">Region:</label>
            <select name="region" id="sightingRegion">
                <option value="">Please Select a Region</option>
                <% regionList.forEach(function(region) { %>
                    <option value="<%= region._id %>">
                        <%= region.name %>
                    </option>
                    <% }); %>
            </select>
            <!-- Details -->
            <label for="content">Details:</label><br>
            <textarea type="text" id="content" name="description" required></textarea><br>
            <!-- Bird Pic input -->
            <label for="profile-pic" class="form-label">Image Url:</label>
            <input type="text" id="profile-pic" name="picture" class="form-input">
            <input type="hidden" id="birdInput" name="bird" value="<%= bird._id %>">
            <input type="submit" value="Submit">
            <br>

        </form>

    </div>
    <script src="../public/js/nav.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>