<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/nav.css">
    <%- include('../partials/head.ejs', {title: 'Sighting Details | NestQuest' }) %>
        <title>NestQuest | Sighting Details</title>
        <%- include('../partials/nav.ejs') %>

</head>

<body>
    <h1>Details</h1>

    <ul>
        <li>
            <%= bird.comName %>
                <span style="font-style: italic;">
                    <%= bird.sciName %>
                </span>
        </li>
        <li>
            <%= bird.familyComName %>
        </li>
        <!-- Sighting Details -->
        <%= user._id %>
            <div>
                <%= region.name %>
            </div>
            <!-- user
            date
            region
            Details 
            Picture -->

    </ul>
    <script src="./public/js/nav.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>